body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: medium;
}
.navbar-brand{
    font-weight: bold;
    font-size: 22px;
}
.nav-link{
    font-size: 16px;
}
.caro-width{
    width: 639px;
}
.carousel-caption h5{
    font-weight: 600;
    font-size: 48px;
}
.carousel-caption p{
    font-weight: 300;
    font-size: 16px;
}
/* .carousel-caption{
    width: 639px;
} */

.moment-info h3{
    font-weight: 700;
    font-size: 38px;
}
.moment-info p{
    font-weight: 700;
    font-size: 16px;
}
.clients-rev p{
    margin-bottom: 0;
}
.copyright{
    font-weight: 300;
    font-size: 14px;
}
.apples p{
    margin-bottom: 0;
}
.foot h4{
    font-weight: 400;
    font-size: 18px;
}
footer{
    background-color: #0B0D17;
}
.footer{
    height: 40px;
    width: 135px;
    background-color: black;
}
.icon{
    font-size: 25px;
}
.apples p{
    font-size: 10px;
}
.apples h5{
    font-size: 15px;
}
.toast{
    padding: 5px !important;
    height: 60px !important;
    width: 270px !important;
    border: 0 !important;
    border-left: 15px solid #3F87F5 !important;
}
.toast-p p{
    font-weight: 500;
    font-size: 14px;
}
@media (max-width: 767px) {
    .relative-column {
      position: static !important;
    }
  
    .absolute-content {
      position: static !important;
    }
    .package{
        padding-top: 0 !important;
    }
    .package-list{
        row-gap: 40px !important;
    }
    .badge{
        display: none !important;
    }
  }